---
import { Debug } from "astro:components";

export const prerender = false ;
const { id } = Astro.params ;
const personne = await Astro.locals.pb.collection("personnes").getOne(id) ;
---
<p>Affichage d'une personne</p>
<Debug {personne} />