---
import { Debug } from "astro:components";
import Layout from "../../layouts/Layout.astro";

export const prerender = false ;
const { id } = Astro.params ;
const personne = await Astro.locals.pb.collection("personnes").getOne(id) ;
---
<Layout>
    <p>Affichage d'une personne</p>
    <Debug {personne} />
</Layout>