---
import Layout from "../layouts/Layout.astro"
---

<Layout titre="Accueil">
	<div class="flex flex-col">
		<a href="/personnes">Voir les personnes</a>
		<a href="/films">Voir les Films</a>
	</div>
	
</Layout>
