---
import type { PersonnesRecord } from '../pocketbase-types'

interface Props {
    personne:PersonnesRecord;
}
const personne = Astro.props.personne
---
<a href={`/personnes/${personne.id}`}>{personne.nom}</a>